<div class="xs:flex xs:justify-between	xs:items-star">
    <div class="xs:flex xs:items-center">
        <button nz-button nzType="text">
          <span nz-icon nzType="menu" nzTheme="outline"></span>
        </button>

        <button nz-button nzType="text">
        <span nz-icon nzType="heart" nzTheme="outline"></span>
        </button>
    </div>

    <div class="xs:h-14">
        <img src="./assets/img/logo-mfs.png" alt="logo-mfs" class="xs:h-full xs:rounded-full xs:ms-2 xs:w-14">
    </div>

    <div class="xs:flex xs:items-center">
        <button nz-button nzType="text">
          <span nz-icon nzType="bell" nzTheme="outline"></span>
        </button>

        <button nz-button nzType="text">
        <span nz-icon nzType="shopping-cart" nzTheme="outline"></span>
        </button>
    </div>
</div>
